body{
    text-align: center;
    margin: 10;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    text-decoration-color: cadetblue;
    font-style: oblique;
    font-family: cursive;
    background-image: url(animal-raccoon-wash-laundry-water-minimalism-free-stock-photos-images-hd-wallpaper.jpg);
  }
  /* Настраиваем внешний вид поля ввода*/
  header{
    width: 50%;
    height: 50px;
    position: center fixed;
    top: 10px;
    left: 50px;
    z-index: 5;
    background:rgba(133, 209, 152, 0.3); /*сделать прозрачным*/
    display: inline-block;
    border: 5px solid #279655;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 45px;
    border-top-left-radius: 10px;
    font-style: oblique;
    font-family: cursive;
  }

    header input{
        position: center fixed;
        width: 90%;
        height: 20px;
        left: 0;
        background:rgba(205, 214, 219, 0.3); /*сделать прозрачным*/
        border-radius: 5 px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border: 0;
        padding: 10px 10px;
        font-family: Verdana, Arial, sans-serif;
        font-size: 16px;
        margin: 5px;
        outline: 0ch;
        float: left;
        text-indent: 20px;
        font-style: oblique;
    font-family: cursive;
       
    }

        
    header button {
        background-image: url(racoon.jpg);  
        background-size:  contain;
        background-repeat: round;
        width: 50px;
        height: 50px;
        z-index: 2;
        position: relative fixed;
        right:0px;
        top: 0px;
        border-radius: 45px;
        border: 0px;
        cursor: pointer; 
        
    }   

h1{

    height: 50 px;
    width: 50 px;
    padding: 10px 50px 20px;
    font-style: oblique;
    font-family: cursive;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}


#unfinished {


text-align: center;
text-shadow: 1px 1px 1px green, 0 0 1em green, 0 0 0.2em greenyellow;
line-height: 32px;


}
#imagenew{
    height: 10%;
    width: 10%;
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */




#finished {

    text-align: center;
    text-shadow: 1px 1px 1px blue, 0 0 1em blue, 0 0 0.2em blueviolet;
    line-height: 32px;
    
    
    }
 h3{
    text-align: center;

    line-height: 32px;

 }
